*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/world-map.png) no-repeat;
	background-size: cover;
	background-position:top center;
}
.header{
	text-align: center;
}
.header h1{
	letter-spacing: 4px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 28px;
	margin: 20px 0;
	color: #6495ed;
}
.text p:nth-child(1){
	text-align: center;
	font-size: 16px;
	color: #6495ed;
	margin-bottom: 40px;
}
.text h2{
	letter-spacing: 2px;
	font-family: cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	margin: 20px 0;
	color: #023a9e;
	text-align: center;
}
.text p{
	font-size: 16px;
	margin: 0 40px;
	color: darkslategrey;
	text-indent: 20px;
}
.text p em{
	font-family: cursive;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
    color: #023a9e;
}
.links{
    text-align: center;
}
.links h3{
	letter-spacing: 2px;
	font-family: cursive;
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
	margin: 20px 0;
	color: #023a9e;
	text-align: center;
}
.links ul li{
	list-style-type: none;
	margin-bottom: 10px;
}
.links ul li a {
	color: blue;
	text-decoration: none;
}
.links ul li a:visited{
	color: darkgrey;
}
.links ul li a:hover{
	color:darkblue;
}



